<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<!-- ------------------------------------ -->
<!-- 1. Main Screen -->
<!-- 2. Inventory -->
<!-- 3. Receipts -->
<!-- 4. Review Receipt -->
<!-- ??. General Detail -->
<!-- ------------------------------------ -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/onsenui.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="css/onsenui.css" />
    <link rel="stylesheet" href="css/onsen-css-components-blue-basic-theme.css" />
    <link rel="stylesheet" href="css/theme.css" />
    <link rel="stylesheet" href="css/smart-grocery.css" />
    <link rel="stylesheet" href="css/typicons/typicons.min.css" >

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="libs/angular/angular-csp.css" />


    <!-- --------------- App init --------------- -->
    <script src="app/app.js"></script>
    <script src="app/controllers.js"></script>

    <title>:: Smart Grocery ::</title>
</head>

<body ng-controller="AppController">

    <!-- ----------------------------------------- -->
    <!-- 1. MAIN SCREEN -->
    <!-- ----------------------------------------- -->
    <ons-navigator var="navi">
        <ons-page>
            <ons-toolbar><div class="center">Smart Grocery</div></ons-toolbar>
            <ons-list ng-controller="MasterController">
                <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="loadView($index)">
                    <ons-row>
                        <ons-col width="60px">
                            <div class="item-thum {{ item.icon }}"></div>
                        </ons-col>
                        <ons-col>
                            <header class="p-l-25">
                                <span class="item-title">{{item.title}}</span>
                                <span class="item-label">
                                    <span class="notification" data-ng-show="item.notify">{{item.notify}}</span>
                                </span>
                            </header>
                            <p class="item-desc p-l-25">{{item.desc}}</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-navigator>

    <!-- ----------------------------------------- -->
    <!-- 2. INVENTORY -->
    <!-- ----------------------------------------- -->
    <ons-template id="inventory.html">
        <ons-page ng-controller="InventoryController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Inventory</div>
            </ons-toolbar>
            <!-- Segmented Navigation Bar-->
            <div class="navigation-bar">
                <div class="navigation-bar__center">
                    <div class="button-bar" style="margin: 7px auto; padding: 0 10px;">
                        <div class="button-bar__item"
                             ng-click="switchCatetory('meat')">
                            <input type="radio" name="navi-segment-a" checked>
                            <div class="button-bar__button">Meat</div>
                        </div>

                        <div class="button-bar__item"
                             ng-click="switchCatetory('produce')">
                            <input type="radio" name="navi-segment-a">
                            <div class="button-bar__button">Produce</div>
                        </div>

                        <div class="button-bar__item"
                             ng-click="switchCatetory('dairy')">
                            <input type="radio" name="navi-segment-a">
                            <div class="button-bar__button">Dairy</div>
                        </div>

                        <div class="button-bar__item"
                             ng-click="switchCatetory('pantry')">
                            <input type="radio" name="navi-segment-a">
                            <div class="button-bar__button">Panty</div>
                        </div>

                        <div class="button-bar__item"
                             ng-click="switchCatetory('other')">
                            <input type="radio" name="navi-segment-a">
                            <div class="button-bar__button">Other</div>
                        </div>
                    </div>
                </div>
            </div>
            <ons-list style="margin-top: 10px">
                <ul class="list">
                    <li class="list__item list__item--tappable" ng-repeat="item in curList"
                        id="meat_{{ $index }}">
                        <label class="checkbox checkbox--list-item">
                            <input type="checkbox">
                            <div class="checkbox__checkmark checkbox--noborder checkbox--list-item__checkmark"></div>
                            <span class="spCol col4">{{ item.label }}</span>
                            <span class="spCol col2" ng-click="doSomething()">
                                <button class="button--quiet"
                                        ng-class="{ 'danger': item.shelfLife != 'frozen' && item.daysLeft < 7 }">
                                    {{ item.shelfLife == 'frozen' ? 'Frozen' : 'Exp: ' + item.shelfLife }}
                                </button>
                            </span>
                            <span class="spCol col1" ng-click="doSomething()">
                                <button class="button--quiet">
                                    {{ item.quantity }}
                                </button>
                            </span>
                            <span class="pull-right" ng-click="doSomething()">
                                <ons-icon icon="{{ item.reserved ? 'fa-lock' : 'fa-unlock' }}" size="15px"
                                     fixed-width="false"
                                     style="{{ item.reserved ? 'color:rgba(136,148,96,0.81);' : 'color:rgba(136,148,96,0.41);' }}">
                                </ons-icon>
                            </span>
                        </label>
                    </li>
                </ul>
            </ons-list>
            <br>
        </ons-page>
    </ons-template>


    <!-- ----------------------------------------- -->
    <!-- 3. RECEIPTS -->
    <!-- ----------------------------------------- -->
    <ons-template id="receipts.html">
        <ons-page ng-controller="ReceiptsController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Receipts</div>
            </ons-toolbar>
            <ons-list modifier="inset" style="margin-top: 10px"
                      ng-show="newReceipts.length > 0 || oldReceipts.length > 0">
                <ul class="list">
                    <li class="list__header" ng-show="newReceipts.length > 0">
                        New Receipts
                    </li>
                    <li class="list__item" ng-show="newReceipts.length > 0"
                        ng-repeat="receipt in newReceipts">
                        <span class="spCol col2">{{ receipt.location }}</span>
                        <span class="spCol col2">{{ receipt.receipt_data.length }} Items</span>
                        <span class="pull-right">
                            <button class="button button-small m-t-5 m-b-5" ng-click="reviewReceipt(receipt.id);">Review</button>
                            <button class="button button-small button--outline m-t-5 m-b-5">Delete</button>
                        </span>
                    </li>
                    <li class="list__header" ng-show="oldReceipts.length > 0">
                        Old Receipts
                    </li>
                    <li class="list__item" ng-show="oldReceipts.length > 0"
                        ng-repeat="receipt in oldReceipts">
                        <span class="spCol col2">{{ receipt.location }}</span>
                        <span class="spCol col4">{{ receipt.scan_date }}</span>
                        <span class="pull-right">
                            <ons-icon icon="fa-search" size="15px" fixed-width="false"
                                      ng-click="doSomething()"
                                      style="color:rgba(136,148,96,0.81);">
                            </ons-icon>
                            <ons-icon icon="fa-list-alt" size="15px" fixed-width="false"
                                      class="m-l-10" ng-click="doSomething()"
                                      style="color:rgba(136,148,96,0.81);">
                            </ons-icon>
                        </span>
                    </li>
                </ul>
            </ons-list>
            <p class="text-center" ng-show="receipts.oldReceipts.length<=0 && receipts.newReceipts.length<=0">
                No receipts have been uploaded yet
            </p>
            

            <br>

        </ons-page>
    </ons-template>


    <!-- ----------------------------------------- -->
    <!-- 4. REVIEW RECEIPT -->
    <!-- ----------------------------------------- -->
    <ons-template id="reviewReceipt.html">
        <ons-page ng-controller="ReviewReceiptController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Review</div>
            </ons-toolbar>
            <ons-list>
                <ons-list-item class="item">
                    <ons-row>
                        <ons-col>
                            <ons-icon icon="fa-chevron-left" size="35px"
                                      class="reviewProgress" ng-click="changeReceipt('back')"
                                      fixed-width="false"
                                      style="float: left; padding-top: 10px; color: #889460; z-index: 1; font-size: 35px; opacity: {{ prevReceipts ? '1' : '.25'}}"></ons-icon>
                        </ons-col>
                        <ons-col>
                            <header class="text-center">
                                <span class="item-title">{{ reviewReceiptTitle }}</span>
                            </header>
                            <p class="item-desc text-center p-r-0">{{ receipt.description }}</p>
                        </ons-col>

                        <ons-col>
                            <ons-icon icon="fa-chevron-right" size="35px"
                                      class="reviewProgress" ng-click="changeReceipt('next')"
                                      fixed-width="false"
                                      style="float: right; padding-top: 10px; color: #889460; z-index: 1; font-size: 35px; opacity: {{ nextReceipts ? '1' : '.25'}}"></ons-icon>
                        </ons-col>


                    </ons-row>
                </ons-list-item>
            </ons-list>
            <ons-list class="m-t-10" ng-class="{ deleted : receipt.deleted, fadeIn : receipt.resetItem }">
                <ons-list-item class="item">
                    <ons-row>
                        <ons-col>
                            <label>Freezing</label>
                            <ons-switch id="freezer" ng-checked="receipt.freezer"></ons-switch>
                        </ons-col>
                    </ons-row>
                    <ons-row>
                        <ons-col>
                            <div class="slider" ng-class="{'closed' : receipt.freezer}">
                                <label for="itemExpMo" ng-class="{'fade50' : receipt.freezer}">Expires: </label>
                                <div class="expDate" ng-class="{'fade50' : receipt.freezer}">
                                    {{ receipt.exp.month | monthToString }} {{ receipt.exp.day }},
                                    {{ receipt.exp.year }}</div>
                                <div class="clearfix"></div>
                                <label for="expMonth" class="text-right" ng-class="{'fade50' : receipt.freezer}">
                                    <em>Month</em>
                                </label>
                                <input id="expMonth" type="range" class="range" min="1" max="12"
                                       ng-model="receipt.exp.month" ng-disabled="receipt.freezer"
                                       value="{{ receipt.exp.month }}">
                                <div class="clearfix"></div>
                                <label for="expDay" class="text-right" ng-class="{'fade50' : receipt.freezer}">
                                    <em>Day</em>
                                </label>
                                <input id="expDay" type="range" class="range" min="1" max="31"
                                       ng-model="receipt.exp.day" ng-disabled="receipt.freezer"
                                       value="{{ receipt.exp.day }}">
                                <div class="clearfix"></div>
                                <label for="expYear" class="text-right" ng-class="{'fade50' : receipt.freezer}">
                                    <em>Year</em>
                                </label>
                                <input id="expYear" type="range" class="range" min="{{ currentYear }}"
                                       max="{{ currentYear +5 }}" ng-model="receipt.exp.year"
                                       ng-disabled="receipt.freezer" value="{{ receipt.exp.year }}">
                                <div class="clearfix"></div>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
                <ons-list-item class="item">
                    <ons-row>
                        <ons-col>
                            <label for="itemQuantity">Quantity: </label>
                            <input type="range" class="range" min="1" max="10"
                                   ng-model="receipt.quantity"
                                   value="{{ receipt.quantity }}">
                        </ons-col>
                    </ons-row>
                </ons-list-item>                
                <ons-list-item class="item">
                    <ons-row>
                        <!-- <ons-col> -->
                        <ons-col>
                            <label for="itemUnits">Units: </label>
                            <div class="select-style">
                                <select>
                                    <option ng-repeat="unit in units.standard"
                                            ng-selected="unit == receipt.units">{{ unit }}</option>
                                </select>
                            </div>
                        </ons-col>
                        <!-- </ons-col> -->
                    </ons-row>
                </ons-list-item>                
                <ons-list-item class="item">
                    <ons-row>
                        <ons-col>
                            <button class="button pull-right" ng-class="{ 'test' : processingItem }"
                                    ng-disabled="processingItem" ng-click="saveItem(receipt)">
                                <ons-icon icon="fa-floppy-o" size="15px"
                                          fixed-width="false"></ons-icon>
                                <ons-icon icon="fa-spinner fa-spin" size="15px" ng-if="processingItem"
                                          fixed-width="false"></ons-icon>
                                <span class="m-l-5">Save</span>
                            </button>
                            <button class="button button--outline pull-left" ng-click="deleteItem(receipt.id)">
                                <ons-icon icon="fa-trash-o" size="15px"
                                          fixed-width="false"
                                          style=""></ons-icon>
                                <span class="m-r-5">Delete!</span>
                            </button>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>


    <!-- ----------------------------------------- -->
    <!-- ??. GENERAL DETAIL -->
    <!-- ----------------------------------------- -->
    <ons-template id="detail.html">
        <ons-page ng-controller="DetailController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Details</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item class="item">
                    <ons-row>
                        <ons-col width="80px">
                            <div class="item-thum"></div>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{item.title}}</span>
                                <span class="item-label">{{item.label}}</span>
                            </header>
                            <p class="item-desc">{{item.desc}}</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>

                <ons-list-item modifier="chevron" ng-click="doSomething()">
                    <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
                    Add a note
                </ons-list-item>
            </ons-list>

            <ons-list style="margin-top: 10px">
                <ons-list-item class="item" ng-repeat="i in [1,2,3]">
                    <header>
                        <span class="item-title">Lorem ipsum dolor sit amet</span>
                    </header>
                    <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span class="typcn typcn-arrow-left"></span>
                    </p>
                </ons-list-item>
            </ons-list>

            <br>

        </ons-page>
    </ons-template>



    
</body>
</html>
